Source: nixieclock
Section: user/utilities
Priority: extra
Maintainer: Richard Merren <richard@merren.net>
Build-Depends: debhelper (>= 5), libqt4-dev
Standards-Version: 3.7.3

Package: nixieclock
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: A simple clock using nixie tube images
 A simple clock using nixietube images for numbers
XB-Maemo-Icon-26: 
 iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAYAAABXAvmHAAAAAXNSR0IArs4c
 6QAAAAlwSFlzAAALEwAACxMBAJqcGAAAAAd0SU1FB9oKGxQuIe6YTwgAABE1
 SURBVGjexZpNkB1Xdcd/59zufv0+53s0sjSWLBmB7YD8gZFdEFwxhAQWTsBJ
 Vcpk4VSlylmmWGeRVZIVW/AGXKkKlV0wFZKQGFgQsEXZsYRlY1myrM+RRvP9
 vl9333uyuE8UBIMRRZKuelPzarr7nnPvOf/zP/8zwm/gOgAnEnjaqzy6HmzV
 oF1BoiAm4ASbCVQtoVcoV+ZMXsyM506ZneT/6zrgOLoq8vxhp72jojarYrlg
 6rA0ERPBnGAClgmmTixxWE2wpootgx0Xeo8Lz39MOPp/Zvj+RnriWD05tarY
 ElgHbA6sqdisYAmYKpYLNqNYClZLErtb1Z7MxP5qBntg6mgNrK1iS2CHhFNH
 4MTt2pPclvGZe2EucZ9gEtgVJagxb4ahzITAAECgE8ADtUQZW8Cbx4tx00Oz
 grFAGkAFnEFXYQeOp8pLM8a39wKf/FVtkl/lpvlEnsrQZxuJtiaSMELRSQFa
 kZpRBHDTt/VNqUSw4DEHBMhEmFEYVoYTGItD8QSBzOIaJVAAQYRmsL7CM7vG
 197LNvdeN9SRL6Xi/rbWqGXqlMRPaJcFhECG0gQaohRqjIAEQ8UQwAsowv4M
 3lcalYKg9MxQIBEQgwngBOpAilAJWanyZAdWRvDNXzuEVPX5QpMn8tTRwRgG
 z7AyUKFukBMoBIbBGIrQEEMNZoFGAtcqaIrysEJNPGMHzgd2AVVYCJA7GHth
 QwyHMOdhB+g6Iwh/sR/uuG78wS+08ZdE1/NiPNFMjVUXkNGYzTKwkDruEECM
 XWAbwYBchSWBNFWcwjEfw6OjxjH1jFS4NxOOOFhyQl0UQQkmZAorBjPBGKlh
 InRMKBAUnlgQnr/dEPqSiHxeRJlJBIdxw4QZFQ4QKAz6AUqEJkZboKaKijEv
 wmGMGQWXwaIaCwEul8JHcqNAmM9TDlYeQXAqVB5yiyFUF6gEmiaIxU2aVff+
 0mylfJdw+rkkFuEpjH9wQEOFVJV6ajQRZqtAhVGoo6iMmg8sKqiDIsCDbeF9
 TePY4ZRDs46q5eiulbx8vmBrpKw0hcMrsL/tmGD8x+mK0wPjQhkNCQYG7Ah4
 hI7AFTNUlJoZmyafLwlf++U5IDwrQGJQC0YpnnZQDjojcUbXoLRAw6CmkDqY
 reCjd6Z86sNwaNaTfyCH1Q7UPNX3tmmXGSsHPDs7ytHPJLBZESZGMxEarxjL
 E7g8gqHC1jT5E1MWBZrmec0CqQi52bMlP4tM7n8cxwsoH0gMcmBIhMA7RVjQ
 QOpAEEovuGAMFMoADy9kPP25JocfU5K7mrBVcP2dwIWXR5z8wZjrVcpM23N5
 U8iXGrTaQnGxoL2gHFpNqHk4v2mUmZIgiEAdY0EDM9PN7Bp4ISud/LYZf//z
 DoicUPibW9CWSYSKuwXuEChMMBEyg0YFlQqK8Nis8ucfVw59vA6LLfx147vP
 9/j+Dye8crrke2tQUvH6OeFMT3nnnUCnVHIfIM9Z+UyLrB84e65imArtAIUH
 NaOuUIjyPo2Qew2lMo4Y8m/AtZ9xQIVvGqykFqFpInBYhYfEmEsgl0hsvBne
 BME4iPL079Q5/ngNxhXdHxv//k87fO8N420vFAGWW4IGoe6Mt4fGXhnY2BPK
 XmD5UE7rvg5pf8TupZL1gaHB6HkYKDSJn+XcWDThqgevUJg9DHz5p2H0qJkc
 V41xbQ4WRbh7+ntDYL8YMxgJgjkjE+GelnHXAzVYcti1Ef/y9S2CN7ZMGI4C
 j+4X7m9Ds+Z44oGMbGyUBhe7FT+65rneTWFhhtZ9HY4cS2iPYzVOHSw4YS6F
 ZTVGHlrBaJuRmTADx5VIAHX644sGmAgjgcyEexI4OI37mwZrAoUX9gnMOcjE
 WM6MvBjBep8336x4Y+i4/xBMqsCxtmPFGS9uQlM9eREL2XgMFIGNUnjjRgH9
 AjnY4a4jwpFWNEZSmFFj3oQkRCNrdbg3BcyYF1Dliz9xIMDjYOBjJd0fjAWM
 uoMlB7PTUwAoNcLb/ky47w7oNAS844fn4d5OSj8YB1J4YNH4wSXj0sC41De+
 f9GTKzQdLDojUWPt6oj+Sz3YDizd1eboMZhFSU0YAF0zdhNYTqCVw705LBLp
 bgsev+XACUVaToW6wqrAkSyW966HooKOQiOFuhpVFdgsYLGdc/iBFG0Yk5Cy
 0VMadWV33VEHzl43LhQxKXsjuNCDrhfqEvCqaALDoXHl4hgGBUm9ojWj1CzQ
 8kYzRGfbKqQppAK1ADUxxkDHaAEnVJSnA0YIRgfhDmBueqMhVAG8h5qPL0md
 UHfCnCjZoRZUFbvnBow9LM/WUW+UwOtdYzsxigwWDdSgIYYPMPGBLYFOruhc
 HVYahL3A3nqgW0GpUHfCTALzibFXCTcnsFbArMQ6pAaCPq0W5FFRJQVKjF2D
 PYE0hZnEyLJIG7bGMDCoJUbLwc54zHBzArUaV19X0iIwV+8zQ2ACbDtohkgP
 Rg62C5hJYYLQT4S2CXludBYTaCVo4qjnSl5TOgKpCKpCVYFhtBNYbkDbADJw
 oMijCqyKxAak0EisEoM8QC4RtkYOamlMbilBK0NCQPIUPriPuz9VI6SwteO5
 OYRdgZqDOREmEotQdwJbHppmrGLkwWioYzEtoD8krMySzKYsJAGnMKwCVwuo
 gNUMlmqR4bYkbnTXIMBqAtbGGwbsE5gNUFcYlHDZYgLPG8zVYBfjio9UWCfG
 cNPBuGLmQ20evHPMqxeMs1tG10FqMQy0MNYCrBvsS2E+g24JSx3H3e9vkD64
 jC2ljC+t0fMekVjtITLZ3IOU0+bBGzUHy2XJOyoovp0ASZiyOjVhCaMyMKc0
 E6VmFZWDHYOJCotAzYydMbx1puDIRzy12ZIT9xmzPU9L4XIJbYHLvYBPhFmM
 RYSRh42hYTU41hQe+f057LFjyLBg8K0rXH+7Yr2APkYjh7aHoiFcNmOuC5sC
 KwopUHnjDz92V5IA4gBVx8gHLgOzCi0JzFpABLoVDKexuKhxd7QBL50dc/yV
 LQ7VJ9QFHvyjOieGJWdOBV58MzDRCLtzKuxPA3sW15hJYDYVAqCZQr+CHLIm
 5IlgHupVRD4pDZdA3oa6KaO9AFNK888nL4kT4a9xgpqwKLBPjQZC04EolAa1
 BOZTcAHGCoVAEBgWgXRUcf11Y+meFq2Hl9k+0+XlH3veKRypCdshgAnzNaM1
 k/Dphxyf/WyHxU7gRy9XHH6whV/vwfU+a5cD19cqRj76NKqMIDH+mzXIg3Fu
 DO/42IYWGIkZJt4E8aSSklggFWO3FEbe6GhM5jKJsT8qwQeQJIbdt96Ejx7O
 eaRWgjPmH+3w5JGK+y9U7JwfcXnDsTDXZN++IYshsPgnd2IHZlm6tIN95SLr
 XznDvj9exSaBXr+gIJBPSVorjZVqItAIgIdhCRXKrASGAUuAKkAqBhtScgDY
 EyETY3W6212DWgW9AC4TcoxuKQyBJDXOrI156HSH37qnT7JyB5pd4eiH9sG1
 m3w4n4EDDUIxYfzVK9jlTWwnIJd32Hf/DIOxhy3P+lt9rpwr2CuVWghYTdAU
 GiPjqsUTGYwgJI6i9GSRdFYO+EsV6pCQasAMRIWWi815KRGRqgABCKIkASoz
 9rwwNmGA8l8bBdkFqPcG5JMCPTCHJIolHmnVkOsjwrkhzNa48caQczeUlccW
 8cM+xYubrK1PePVswKtEiUWgFoTSGwt1aCu0ApwcGxsaKf8espcAVwyZz6Ui
 iNKRwAEfkWhToDKoZTCvMKpgG2PHoPRCYoZTKNS4XCZ89eyAo2/Bw3dnHD+/
 xuK80tv0zC4MqNWNi1vC3vfhWgh84pEaabHJblWydX5EVhckB1cFrIKxwXYw
 kgTmA2QOCgcjBSfKRAKCXEmAFxE7bgE0GCCMnDHxkZ0ui+GDMAIGYvSKSIkr
 BK9C4g1RaAcPCpczZXC+4uWLBY0kpbSAM8cj+yqu9QO9ZMAjH51l/kgOHfB5
 l5EHtwdaRDwvFcRHap+o0K+MCtidwFZQGgLXBRR7UYHnLMB4mtW7wdir4sNz
 YqhCYTAsjL0QufqyQhADM4YSF64lsAIc9EadQEOg9CWlGjWteH07sGkw54x7
 ZUR1ZY/ixoTBBRhNEna9/AR9LEBwgkvAibFTCOtj5VQJXXWYCaUIPthzCXAS
 6Cu0RgbrQAuonOAVWhOjVGgkCj6gAj2L+maQWKVnHLSBmhNSiSeUu8geBz7g
 EsUX4NXxwTscQkXvAmy9OuSVs0JaGaMqUDqhqKA0YxKMSQQeZhtGWhibIXKx
 LQsAfeDkLVXiOwGeIERFYAdhsYzt445CMjUwN2E7QCGRcSZEZ9YBGRu5KpnB
 namxPoDmtJcuCewHHj2c8JHPNWG1Q9gqeOura6ztwMEF4eaYePIYIcTcG7gI
 1fMlrE9gF8h8xU4Ac3znJw2NwBduyRJ9gatibGKYCqJCrYxFZQtjQtQ1ayHW
 A5iSNVHMAh2BgQk2Fawmzmi3lRNH4I52gCyC37XXSl67AHlN2Atwfhe2Leqr
 wwD9SNYAYX0Cp6Y52UOoAPPRZgUweBs4LYCEGPPrwI4IqYeBGTeAXYviUxqi
 LF4YbAVInaNGoDKhK8YgKBZiN1U65WMHMz79uykLzmBnwvapm3z3XzfZctDO
 YWNgrEe9mCIIPYG+CmOLqvWrJWwgNBHGIgCniTb/jDb6jN3y2mBocDkYGxgD
 FXKi/DeY9sc3FTaBLpCIMDt95pwpReJxiTLXEu6fV37vPqG9JCzkgjUzXv/P
 Ea9vGKMSrneNVzdhQ6K+6okJqmZUAW74uNaSwNACPhjAM++mzJ0Evg18gtg7
 RxXZCYe8oQKFCAODSgw/NbwSWLdIsDrOqBCchzs78Kl7lbv3wfIxwXvY6Rtr
 3x3yozcrAsKFMRQFXKxAEmMkBhjZlOt0nXLTB9ou9ig3A3js21Nb31Va/CTQ
 mwJRFHG9sUcUcnsIQqARIsnrTXmKw9iWuMiKBlLgzprxUBM6SxGSbMt46VzB
 pUlFKfGY5zJInDBfGWsTIsxKzEVvsakXEQ5iXIniQ39q4y9Vpy8BT9764kWY
 qJBbHF70JT5UACPiQmHqcT/AGCEY7BXKqZuBN68mXL9ScebVkq9fNd5BcAbb
 4xjztalsshtgwyIwjIgnMA6xHsnUqML4swCvvZcDrxFr0ocFMAQvke1lRGfG
 xDrg5BY/itxkLDASJRNjUAhnhsZbO4LbEwbbnrNeyBK4Oo5ItV3CjQBXDK4F
 KBDcFJq7AibQRBgK3DS+XBh/96vOB74JPAi8n6nsPZ6OguxW7Els/GyKBGaR
 q6jFO24IUdsRIQ+BPI3qRjOBjVJZF2EbY+SUiRnBhIRYBLsST9ghJMC68Y2u
 8ae/zpDveeCJW4MDFcgwWhYRaagxhPw0mW6FVqRUUT8tRaiLsarCrFNC4emj
 XLeAaFS5MxGSYAxE42mb4TBygz58Y41fPGJ6ryHfP4r8dDhNQwaJZV7jd5O4
 E54Is5WLIRX9FiYidL1QhEDfhHWFicVmvFJwJoxVGDjBTU+wjBvz5TXefedv
 93pqik6mxOG1KJY4sRwsc3HAncRxmSlxiO0EayhWB6sLNg+2AtYULAPLpgPx
 zq2huVNrO7E5pbcoPPUbn9In8IKbGl9TsbpgDrGUaNCtv4nGab2bTuob00/L
 YTNJnOzXwGouOtdRbFnFGoLloi/cjk1yu040hRNN4dncOF4a4JQQAmJR7tiQ
 WP6DCgqoN0xjuJhGVDM1ZqYSYgMhiZPb087smQvGyf9VB376nz0qlS/m3h6f
 BFo2LWSbDkof36wKlQcRcA5mLTrQMkMTaJfazwjfKZUvnPaR29zuJb+J0NoP
 Jyp4eiw8WiKrzqxdQVKJiGEgWC1QdYSeQ68k2IsN7Lk3b3O33+36b3vXsiyc
 rQkAAAAAAElFTkSuQmCC
 ====
